---
title: Mundo Real Idiomas Alemán
layout: layout
---

.row
  .tit
    Alemán

.row
  .span5
    .subtit
      Clases de Alemán para jóvenes y adultos.
  .span5
    .foto
      %img{:src => "/images/alemania.png", :alt => "Alemán"}


.subtit
  El idioma Alemán
  El idioma alemán se ubica en la familia de las lenguas germánicas. 

.parrafo
  En el idioma alemán deutsch es la voz que determina todo lo relacionado con el pueblo alemán, así: Deutsche alemán/a (gentilicio), Deutsch, alemán (idioma), Deutschland, Alemania. 

.subtit
  Ventajas de estudiar Alemán.

.parrafo
  El alemán  se encuentra en el puesto 12 de los idiomas más hablados en el mundo, con aproximadamente 101 millones de hablantes, y, a pesar de ello, es el idioma más hablado (como lengua materna) de la Unión Europea. Por esta razón, en los colegios de los países que se han ido integrando a la UE, el alemán es el idioma más estudiado. Sucede lo mismo con los países aspirantes a ingresar a la UE. 
.subtit  
  Idioma más buscado en internet y usado en libros.
.parrafo  
  Las estadísticas hablan por sí solas. Hay un gran incremento en el interés hacia el aprendizaje del alemán: el 12% de las páginas web son hechas en este idioma, superando ampliamente al mandarín (2.4%) y al español (3.0%). Además, es el segundo idioma más utilizado en los buscadores de internet. Y, en lo que respecta a la producción de libros a nivel mundial, aquellos que están escritos en alemán representan el 13%. Siendo superados solo por aquellos escritos en inglés y mandarín. 
  Desde hace unos años, las universidades están ampliando sus programas de idiomas extranjeros para darle cabida al alemán, debido a la importancia que está cobrando últimamente. Incluso, el internet también proporciona facilidades para poder aprenderlo, ya que existen cursos gratuitos en línea, los cuales proporcionan clases, audios (para verificar la correcta pronunciación), diccionarios y también glosarios de las clases. 

.subtit
  Idioma indispensable en la Unión Europea
.parrafo
  Mucha gente alrededor del mundo hace esfuerzos por aprenderlo. Con respecto a los países que recién se integran  a la Unión Europea y, a aquellos que están en vías de conseguirlo, su aprendizaje es indispensable. Ya que a pesar de tener culturas diferentes, es necesario que se comprendan, y si el alemán es el idioma más hablado, es obvio que los demás también optarán por estudiarlo. Por otro lado, para los estudiosos también es importante aprender este idioma, tanto para investigadores como literatos. Es importante para los primeros porque desempeña un papel importante como idioma científico, y para los segundos, porque muchas joyas de la literatura fueron concebidas en este idioma, y, si no queremos que pierda su sentido original, es mejor leerlas tal cual. 

.subtit  
  Estudiantes que quieren cursar una carrera en Alemania

.parrafo
  Podría decirse, que en el mundo, los más interesados son los estudiantes (es muy importante conocer el idioma al solicitar una beca de estudios). Aprender alemán  puede proporcionar acceso a estudiar una carrera en Alemania, a la vez que aumenta las posibilidades en el mercado laboral internacional, tanto en la UE, donde se buscan especialistas en el idioma, como en empresas extranjeras en Alemania, o viceversa. 
  No menos relevante, es la importancia cultural y turística de este idioma. Conocimientos de alemán, ayudan a conocer más afondo la idiosincrasia alemana, así como su historia. 

.subtit
  Realza las oportunidades de negocio cuando usted habla la lengua

.parrafo
  Alemania es el tercero entre otros países en el mundo con la economía más grande. En Europa, conduce las otras naciones y produce  un cuarto del GDP de la unión europea. El país  se conoce como el exportador más grande y el segundo importador más grande a través del globo. Debido a esto, las compañías y las corporaciones en los E.E.U.U. han estado dirigiendo sus negocios con los alemanes. Saber la lengua le ayudará fácilmente a comunicarse con los clientes alemanes. 

.subtit
  Presencia de empresas Alemanas en México

.parrafo
  Actualmente hay en México cerca de 950 empresas con participación de capital alemán. En la CAMEXA están inscritos actualmente 873 empresas alemanas y mexicanas. Algunas de las empresas alemanas asentadas en México son:
  ADIDAS, ALLIANZ, BASF, BAYER,  BRAUN, BMW, BOSCH, CARL ZEISS, COMMERZBANK, DAIMLERCHRYSLER, DEUTSCHE BANK AG, DRESDNER BANK AG, FESTO PNEUMATIC, HENKEL, LUFTHANSA, MAN, OSRAM, SIEMENS, STAEDTLER, THYSSENKRUPP, TÜV, VOLKSWAGEN.


.parrafo
  Para información sobre costos y horarios de nuestros cursos de Alemán, solicítelo directamente en nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="forma">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario'>Consulta nuestras fechas de Inicio de Cursos.
