.tit
  Beneficios De Las Clases en  Empresas

.subtit
  Nos permitimos mostrarle brevemente algunos de nuestros beneficios más significativos :

.parrafo
  Inversión de  la mitad de tiempo y dinero comparado contra  escuelas y métodos tradicionales.<br/>
  <br/>
  Flexibilidad para recibir las clases en sus instalaciones en horarios abiertos  de lunes a sábado desde la 6 am hasta las 10 pm o en nuestras instalaciones.<br/>
  <br/>
  Contamos con una modalidad muy exitosa en la que permitimos a nuestros alumnos reponer las clases (que sus ocupaciones no les hayan permitido tomar), asistiendo a nuestras instalaciones sin ningún cargo adicional.<br/>
  <br/>
  Cursos adaptados a necesidades específicas de compañías y ejecutivos.<br/> 
  La duración, los contenidos y las formas de pago serán siempre consideradas buscando un beneficio mutuo en nuestra relación comercial.<br/>
  <br/>
  Nuestros facilitadores son profesores con experiencia comprobada y reciben constantes capacitaciones y actualizaciones por parte de nuestra área académica.<br/> 
  <br/>
  Aunado a esto garantizamos por escrito que dichos maestros podrán ser substituidos hasta que obtengamos la aprobación completa por parte de nuestros clientes sin ningún cargo adicional.<br/>

.parrafo
  Para información sobre costos y horarios de nuestros diferentes cursos, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761.<br/>  
  <br/> 
  <a href="forma">Clic aquí para llenar FORMA DE CONTACTO</a>.
  <a href='calendario'>Consulta nuestras fechas de Inicio de Cursos.
