#tit
  BOLSA DE TRABAJO
#parrafo
  %iframe{:allowTransparency => "true", :frameborder => "0", :height => "767", :scrolling => "no", :src => "http://virtusweb.wufoo.com/embed/s7x2z7/", :style => "width:100%;border:none"}
  %a{:href => "http://virtusweb.wufoo.com/forms/s7x2z7/"} 


