---
title: MRI Calendario
layout: layout
---
.tit
  INICIO DE CURSOS 2012


.hero-unit
  .row
  
    .span2
      .tabletx
        %a{:name => "ingles"}
        Curso Básico de INGLÉS<br/>
        <br/>
        %img{:src => "/images/unidos.png", :alt => "Inglés"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 7:00 a 9:00 hrs.
              %td Lunes a Viernes
              %td Miércoles 8 de Mayo 2013
              %td Nivel : Elemental
            %tr
              %td 7:00 a 9:00 hrs.
              %td Lunes a Viernes
              %td Lunes 6 de Mayo 2013
              %td Nivel : Básico  
            
            %tr
              %td 17:00 a 19:00 hrs.
              %td Lunes Martes y Miércoles
              %td Lunes 20 de Mayo 2013
              %td Nivel : Elemental
            %tr
              %td 19:00 a 21:00 hrs.
              %td Lunes a Viernes
              %td Lunes 20 de Mayo 2013
              %td Nivel : Elemental
            %tr
              %td 19:00 A 21:00 hrs.
              %td Lunes a Viernes
              %td Lunes 20 de Mayo 2013
              %td Nivel : Elemental
            %tr
              %td 8:00 A 13:00 hrs.
              %td Sábados
              %td Inscripciones abiertas
              %td Grupo de Adultos (Conversación)
            %tr
              %td 8:00 A 13:00 hrs.
              %td Sábados
              %td Sábado 20 de Abril 2013
              %td Grupo de Adultos (Elemental)  
           
            %tr
              %td 8:00 A 13:00 hrs. 
              %td Sábados
              %td Inscripciones abiertas
              %td Grupo de Niños 

.hero-unit
  .row

    .span2
      .tabletx
        %a{:name => "frances"}
        Curso Básico de FRANCÉS<br/>
        <br/>
        %img{:src => "/images/francia1.png", :alt => "Francés"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 9:15 A 10:45 hrs
              %td Lunes y Miércoles
              %td Lunes 17 de Junio 2013
              %td 
            %tr
              %td 19:00 a 20:30 hrs.
              %td Martes y Jueves
              %td Martes 18 de Junio 2013
              %td
            %tr
              %td 16:30 A 19:00 hrs.
              %td Viernes
              %td Viernes 17 de Mayo 2013
              %td Niños de 8 a 13 años.
            %tr
              %td 10:00 A 13:00 hrs.
              %td Sábados
              %td Sábado 22 de Junio 2013
              %td

 
.hero-unit
  .row
    
    .span2
      .tabletx
        %a{:name => "aleman"}
        Curso Básico de ALEMÁN<br/>
        <br/>
        %img{:src => "/images/alemania.png", :alt => "Alemán"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 19:00 A 20:30 hrs
              %td Martes y Jueves
              %td Martes 21 de Mayo 2013
              %td Inscripciones abiertas
            
.hero-unit
  .row

    .span2
      .tabletx
        %a{:name => "italiano"}
        Curso Básico de ITALIANO<br/>
        <br/>
        %img{:src => "/images/italia.png", :alt => "Italiano"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 19:00 A 20:30 hrs
              %td Miércoles y Jueves
              %td Miércoles 24 de Abril 2013
              %td 
            %tr
              %td 11:00 a 14:00 hrs.
              %td Sábados
              %td Sábado 18 de Mayo 2013
              %td 

.hero-unit
  .row

    .span2
      .tabletx
        %a{:name => "chino"}
        Curso Básico de CHINO<br/>
        <br/>
        %img{:src => "/images/china.png", :alt => "Chino"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 11:00 a 14:00 hrs.
              %td Sábados
              %td Sábado 22 de Junio 2013
              %td $2,200 mensuales Inscripciones Abriertas 

