---
title: MRI Calendario
layout: layout
---
.tit
  INICIO DE CURSOS 2014


.hero-unit
  .row
  
    .span2
      .tabletx
        %a{:name => "ingles"}
        Curso Básico de INGLÉS<br/>
        <br/>
        %img{:src => "/images/unidos.png", :alt => "Inglés"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 7:00 a 9:00 hrs.
              %td Lunes a Viernes
              %td Lunes 12 de Mayo 2014
              %td Nivel : Elemental
            %tr
              %td 11:00 a 13:00 hrs.
              %td Lunes a Viernes
              %td Lunes 5 de Mayo 2014
              %td Nivel : Básico  
            
            %tr
              %td 17:00 a 19:00 hrs.
              %td Lunes a Jueves
              %td Lunes 12 de Mayo 2014
              %td Nivel : Elemental
            %tr
              %td 19:00 a 21:00 hrs.
              %td Lunes a Jueves
              %td Lunes 12 de Mayo 2014
              %td Nivel : Elemental
            %tr
              %td 8:00 a 13:00 hrs. 
              %td Sábados 
              %td Sábado 17 de Mayo
              %td 
            
            
            
.hero-unit
  .row

    .span2
      .tabletx
        %a{:name => "frances"}
        Curso Básico de FRANCÉS<br/>
        <br/>
        %img{:src => "/images/francia1.png", :alt => "Francés"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            
            %tr
              %td 9:45 a 10:45 hrs.
              %td Martes y Jueves
              %td Martes 6 de Mayo 2014
              %td 
            
            %tr
              %td 19:00 a 20:30 hrs.
              %td Martes y Jueves
              %td Martes 20 de Mayo 2014
              %td 
            %tr
              %td 16:30 a 19:00 hrs.
              %td Viernes
              %td Inscripciones Abiertas
              %td Niños a partir de 8 años
            %tr
              %td 8:00 a 11:00 hrs.
              %td Sábados
              %td Sábado 24 de Mayo 2014
              %td Inscripciones abiertas
    .span2
      .tabletx
        %a{:name => "aleman"}
        Curso Básico de ALEMAN<br/>
        <br/>
        %img{:src => "/images/alemania.png", :alt => "Alemán"}
    
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 19:00 a 20:30 hrs
              %td Lunes y Jueves
              %td Lunes 20 de Mayo 2014
              %td 
            
.hero-unit
  .row

    .span2
      .tabletx
        %a{:name => "italiano"}
        Curso Básico de ITALIANO<br/>
        <br/>
        %img{:src => "/images/italia.png", :alt => "Italiano"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 19:30 a 20:30 hrs
              %td Lunes y Miércoles
              %td Lunes 20 de Mayo 2014
              %td 
            


.hero-unit
  .row
              
                        
    .span2
      .tabletx
        %a{:name => "chino"}
        Curso Básico de CHINO<br/>
        <br/>
        %img{:src => "/images/china.png", :alt => "Chino"}
    
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 13:00 a 14:00 hrs
              %td Sábados
              %td Sábado 14 de Junio 2014
              %td 
              
                        

 
            
