---
title: MRI Calendario
layout: layout
---
.tit
  INICIO DE CURSOS 2012


.hero-unit
  .row
  
    .span2
      .tabletx
        %a{:name => "ingles"}
        Curso Básico de INGLÉS<br/>
        <br/>
        %img{:src => "/images/unidos.png", :alt => "Inglés"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 7:00 a 9:00 hrs.
              %td Lunes a Viernes
              %td Lunes 14 de Enero
              %td 
            %tr
              %td 9:00 a 11:00 hrs.
              %td Lunes a Viernes
              %td Lunes 7 de Enero
              %td 
            %tr
              %td 11:00 a 13:00 hrs.
              %td Lunes a Viernes
              %td Lunes 14 de Enero
              %td 
            %tr
              %td 17:00 A 19:00 hrs.
              %td Lunes a Viernes
              %td Lunes 7 de Enero
              %td 
            %tr
              %td 19:00 A 21:00 hrs.
              %td Lunes a Viernes
              %td Lunes 14 de Enero
              %td 
            %tr
              %td 8:00 A 13:00 hrs.
              %td Sábados
              %td Sábado 26 de Enero
              %td Grupo de Adultos (Elemental)
            %tr
              %td 8:00 A 13:00 hrs. 
              %td Sábados
              %td Sábado 12 de Enero
              %td Grupo de Adultos (Básico)
            %tr
              %td 8:00 A 13:00 hrs. 
              %td Sábados
              %td Sábado 19 de Enero
              %td Grupo de Niños Inscripciones abiertas

.hero-unit
  .row

    .span2
      .tabletx
        %a{:name => "frances"}
        Curso Básico de FRANCÉS<br/>
        <br/>
        %img{:src => "/images/francia1.png", :alt => "Francés"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 9:15 A 10:45 hrs
              %td Lunes y Miércoles
              %td Lunes 21 de Enero
              %td 
            %tr
              %td 19:00 a 20:30 hrs.
              %td Lunes y Miércoles
              %td Lunes 21 de Enero
              %td
            %tr
              %td 11:00 A 14:00 hrs.
              %td Sábados
              %td Sábado 19 de Enero
              %td

 
.hero-unit
  .row
    
    .span2
      .tabletx
        %a{:name => "aleman"}
        Curso Básico de ALEMÁN<br/>
        <br/>
        %img{:src => "/images/alemania.png", :alt => "Alemán"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 18:00 A 19:00 hrs
              %td Lunes Miércoles y Viernes
              %td Lunes 28 de Enero
              %td Inscripciones abiertas
            %tr
              %td 10:00 a 13:00 hrs.
              %td Sábados
              %td Sábado 12 de Enero
              %td Inscripciones abiertas
.hero-unit
  .row

    .span2
      .tabletx
        %a{:name => "italiano"}
        Curso Básico de ITALIANO<br/>
        <br/>
        %img{:src => "/images/italia.png", :alt => "Italiano"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 18:00 A 19:0 hrs
              %td Lunes Miércoles y Viernes
              %td Lunes 28 de Enero
              %td Inscripciones abiertas
            %tr
              %td 11:00 a 14:00 hrs.
              %td Sábados
              %td Sábado 19 de Enero
              %td Inscripciones abiertas

.hero-unit
  .row

    .span2
      .tabletx
        %a{:name => "chino"}
        Curso Básico de CHINO<br/>
        <br/>
        %img{:src => "/images/china.png", :alt => "Chino"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 11:00 a 14:00 hrs.
              %td Sábados
              %td Sábado 9 de Febrero
              %td Inscripciones abiertas

