---
title: MRI Calendario
layout: layout
---
.tit
  INICIO DE CURSOS 2012


.hero-unit
  .row
  
    .span2
      .tabletx
        %a{:name => "ingles"}
        Curso Básico de INGLÉS<br/>
        <br/>
        %img{:src => "/images/unidos.png", :alt => "Inglés"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 7:00 a 9:00 hrs.
              %td Lunes a Viernes
              %td Lunes 21 de Octubre 2013
              %td Nivel : Elemental
            %tr
              %td 11:00 a 13:00hrs.
              %td Lunes a Viernes
              %td Lunes 21 de Octubre 2013
              %td Nivel : Básico  
            
            %tr
              %td 17:00 a 19:00 hrs.
              %td Lunes a Viernes
              %td Lunes 21 de Octubre 2013
              %td Nivel : Elemental
            %tr
              %td 19:00 a 21:00 hrs.
              %td Lunes a Jueves
              %td Lunes 21 de Octubre 2013 
              %td Nivel : Elemental
            %tr
              %td 8:00 a 13:00 hrs.
              %td Sábados
              %td Inscripciones Abiertas
              %td Nivel : Avanzado
            
                        
            %tr
              %td 8:00 a 13:00 hrs. 
              %td Sábados
              %td Inscripciones abiertas
              %td Grupo de Niños (Básico)

.hero-unit
  .row

    .span2
      .tabletx
        %a{:name => "frances"}
        Curso Básico de FRANCÉS<br/>
        <br/>
        %img{:src => "/images/francia1.png", :alt => "Francés"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 9:15 a 10:45 hrs
              %td Martes y Jueves
              %td Martes 29 de Octubre de 2013
              %td 
            %tr
              %td 19:00 a 20:30 hrs.
              %td Lunes y Miércoles
              %td Lunes 28 de Octubre de 2013
              %td 
            
            %tr
              %td 10:00 a 13:00 hrs.
              %td Sábados
              %td Sábado 26 e Octubre de 2013
              %td 

 
.hero-unit
  .row
    
    .span2
      .tabletx
        %a{:name => "aleman"}
        Curso Básico de ALEMÁN<br/>
        <br/>
        %img{:src => "/images/alemania.png", :alt => "Alemán"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            
            %tr
              %td 9:15 a 10:45 hrs
              %td Martes y Jueves
              %td Martes 15 de Octubre 2013
              %td Inscripciones Abiertas
            
.hero-unit
  .row

    .span2
      .tabletx
        %a{:name => "italiano"}
        Curso Básico de ITALIANO<br/>
        <br/>
        %img{:src => "/images/italia.png", :alt => "Italiano"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 19:30 a 20:30 hrs
              %td Lunes y Miércoles
              %td Lunes 28 Octubre de 2013
              %td 
            %tr
              %td 10:00 a 13:00 hrs.
              %td Sábados
              %td 
              %td Inscripciones Abiertas

.hero-unit
  .row

    .span2
      .tabletx
        %a{:name => "chino"}
        Curso Básico de CHINO<br/>
        <br/>
        %img{:src => "/images/china.png", :alt => "Chino"}
    .span6 
      .tabletx
        %table.table
          %thead
            %tr
              %th Horario
              %th Días
              %th Fecha de Inicio
              %th Nota
          %tbody
            %tr
              %td 10:00 a 14:00 hrs.
              %td Sábados
              %td Sábado 3 de Agosto 2013
              %td Nivel básico completo $4,900

