---
title: Mundo Real Idiomas Calendario
layout: layout
---
.tit
  INICIO DE CURSOS 2012


.hero-unit
  .row
    .expander
      .span2
        .tabletx
          Curso Básico de INGLÉS<br/>
          <br/>
          %img{:src => "/images/unidos.png", :alt => "Inglés"}
      .span6 
        .tabletx
          %table.table
            %thead
              %tr
                %th Horario
                %th Días
                %th Fecha de Inicio
                %th Nota
            %tbody
              %tr
                %td 7:00 a 9:00 hrs.
                %td Lunes a Viernes
                %td Lunes 19 de Noviembre
                %td Inscripciones abiertas
              %tr
                %td 11:00 a 13:00 hrs.
                %td Lunes a Viernes
                %td Lunes 19 de Noviembre
                %td Inscripciones abiertas
              %tr
                %td 17:00 A 19:00 hrs.
                %td Lunes a Viernes
                %td Lunes 12 de Noviembre
                %td Inscripciones abiertas
              %tr
                %td 19:00 A 21:00 hrs.
                %td Lunes a Viernes
                %td Miércoles 19 de Noviembre
                %td Inscripciones abiertas
              %tr
                %td 8:00 A 13:00 hrs.
                %td Sábados
                %td Sábado 10 de Noviembre
                %td Grupo de Adultos
              %tr
                %td 8:00 A 13:00 hrs. 
                %td Sábados
                %td Sábado 12 de Noviembre
                %td Grupo de Adultos
              %tr
                %td 8:00 A 13:00 hrs. 
                %td Sábados
                %td Sábado 12 de Noviembre
                %td Grupo de Niños Inscripciones abiertas


.hero-unit
  .row
    .expander
      .span2
        .tabletx
          Curso Básico de ALEMÁN<br/>
          <br/>
          %img{:src => "/images/alemania.png", :alt => "Alemán"}
      .span6 
        .tabletx
          %table.table
            %thead
              %tr
                %th Horario
                %th Días
                %th Fecha de Inicio
                %th Nota
            %tbody
              %tr
                %td 19:00 A 20:30 hrs
                %td Lunes y Miércoles
                %td 
                %td Inscripciones abiertas
              %tr
                %td 11:00 a 14:00 hrs.
                %td Sábados
                %td Sábado 19 de Enero 2013
                %td Inscripciones abiertas
 