#tit
  Chino

#subtit
  Clases de Chino para jóvenes y adultos.

#foto
  %img{:src => "/attachments/china.png", :alt => "Chino"}

#parrafo
  Para información sobre costos y horarios de nuestros cursos de Chino, solicítelo directamente en nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="forma">Clic aquí para llenar FORMA DE CONTACTO</a>.
