---
title: MRI Clases Chino
layout: layout
---

.tit
  Chino
.row
  .span5
    .subtit
      Clases de Chino para jóvenes y adultos.
  .span5
    %img{:src => "/images/china.png", :alt => "Chino"}

.parrafo
  Para información sobre costos y horarios de nuestros cursos de Chino, solicítelo directamente en nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761.<br/> 
  <br/> 
  <a href="contacto.html">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/> 
  <a href='calendario.html#chino'>Consulta nuestras fechas de Inicio de Cursos.

