---
title: Mundo Real Idiomas Contacto
layout: layoutc
---
.container
  .row
    .span7
      %iframe{:allowtransparency => "true", :frameborder => "0", :height => "679", :scrolling => "no", :src => "http://virtusweb.wufoo.com.mx/embed/q7x3a1/", :style => "width:100%;border:none"}
      %a{:href => "http://virtusweb.wufoo.com.mx/forms/q7x3a1/"} Fill out my Wufoo form!

    .span4
      .parrafo
        Mundo Real Idiomas<br/> 
        Dirección: Boticelli No. 75<br/> 
        Tercer piso esq. Av. Patriotismo<br/>
        Col. Nonoalco Mixcoac<br/> 
        México D.F.<br/> 
        Tel 5611-2761<br/> 
        e-mail : <a href='mailto:info@mundorealidiomas.com.mx'>info@mundorealidiomas.com.mx</a><br/>
        <br/>

 
      .mapa
        %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?source=s_q&amp;f=q&amp;hl=en&amp;geocode=&amp;q=Botticelli+%23+75,+Nonoalco,+Benito+Ju%C3%A1rez,+Ciudad+de+M%C3%A9xico,+DF,+Mexico&amp;aq=&amp;sll=19.384464,-99.185772&amp;sspn=0.005829,0.009645&amp;ie=UTF8&amp;hq=&amp;hnear=Botticelli,+Nonoalco,+Benito+Ju%C3%A1rez,+Ciudad+de+M%C3%A9xico,+Distrito+Federal,+Mexico&amp;t=m&amp;ll=19.381154,-99.186888&amp;spn=0.014169,0.011802&amp;z=15&amp;output=embed", :width => "275"}
        %br/
        %small
          %a{:href => "https://maps.google.com/maps?source=embed&amp;f=q&amp;hl=en&amp;geocode=&amp;q=Botticelli+%23+75,+Nonoalco,+Benito+Ju%C3%A1rez,+Ciudad+de+M%C3%A9xico,+DF,+Mexico&amp;aq=&amp;sll=19.384464,-99.185772&amp;sspn=0.005829,0.009645&amp;ie=UTF8&amp;hq=&amp;hnear=Botticelli,+Nonoalco,+Benito+Ju%C3%A1rez,+Ciudad+de+M%C3%A9xico,+Distrito+Federal,+Mexico&amp;t=m&amp;ll=19.381154,-99.186888&amp;spn=0.014169,0.011802&amp;z=15", :style => "color:#0000FF;text-align:left"} View Larger Map