---
title: MRI Cursos
layout: layout
---
.subtit
  Examen de colocación: 
.parrafo
  El examen de colocación se aplica niños que ya han estudiado inglés antes o que se encuentran estudiando en colegios bilingües.

.subtit
  Clases en nuestras instalaciones:
.parrafo
  Grupos reducidos de máximo 10 alumnos.<br/>
  Horarios entre semana desde las 7 am hasta las 9pm.<br/>
  Horario Sabatino de 8am hasta la 1pm.<br/>
.parrafo
  Para información sobre costos y horarios de nuestros diferentes cursos, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761.<br/> <a href="contacto.html">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario.html'>Consulta nuestras fechas de Inicio de Cursos.

