#tit
  Cursos

#subtit
  Cursos  Sabatinos.

#parrafo
  Los cursos sabatinos se imparten de 8:00 am a 1:00 pm, y tienen una duración de 6 sábados por módulo.

  Costos de los módulos: $1500.00

#subtit
  Clases de Inglés para Niños

#parrafo
  Los cursos de Inglés para niños se imparten los sábados en nuestras instalaciones de 8:00 am a 1:00 pm. O entre semana de 3:00 a 5:00 dos días por semana.
#subtit
  Examen de colocación: 
#parrafo
  El examen de colocación se aplica niños que ya han estudiado inglés antes o que se encuentran estudiando en colegios bilingües.

#subtit
  Clases en nuestras instalaciones:
#parrafo
  Grupos reducidos de máximo 10 alumnos.<br/>
  Horarios entre semana desde las 7 am hasta las 9pm.<br/>
  Horario Sabatino de 8am hasta la 1pm.<br/>
#parrafo
  Para información sobre costos y horarios de nuestros diferentes cursos, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="forma">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario'>Consulta nuestras fechas de Inicio de Cursos.

