---
title: MRI Empresas
layout: layout
---
.tit
  Clases en empresas
 
.parrafo
  Las clases en empresas se imparten en los horarios y días indicados por los ejecutivos. El plan de estudios se diseña de acuerdo a las necesidades específicas de nuestros clientes haciendo especial énfasis en  la parte oral y comunicativa del idioma.
.row
  .span4.offset1
    %img{:src => "/images/empresas.png", :alt => "Empresas"}
  .span3
    .tit
      Mundo Real Idiomas en su propia oficina



.subtit
  Mundo Real Idiomas le ofrece, en su propio lugar de trabajo, la enseñanza de los siguientes idiomas:

.parrafo
  %a{:href =>  "ingles.html"} Inglés,
  %a{:href =>  "frances.html"} Francés,
  %a{:href =>  "aleman.html"} Alemán,
  %a{:href =>  "italiano.html"} Italiano,
  %a{:href =>  "chino.html"} Chino,
  %a{:href =>  "espanol.html"} Español.

.parrafo
  Contamos con un programa académico profesional, periódicamente actualizado y adecuado a sus necesidades para contribuir al desarrollo de la comunicación internacional, así como una amplia experiencia en la capacitación de ejecutivos y funcionarios líderes en diversos campos.

.parrafo
  Para información sobre costos y horarios de nuestros diferentes cursos, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761.<br/> <a href="contacto.html">Clic aquí para llenar FORMA DE CONTACTO</a>.

