#tit
  Español

#subtit
  Clases de Español para jóvenes y adultos.

#foto
  %img{:src => "/attachments/mexico.png", :alt => "Español"}

#parrafo
  Solicite información en: 
  e-mail : <a href='mailto:info@mundorealidiomas.com.mx'>info@mundorealidiomas.com.mx</a>
#parrafo
  Para información sobre costos y horarios de nuestros cursos de Español, solicítelo directamente en nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="forma">Clic aquí para llenar FORMA DE CONTACTO</a>.
