#forma
  %iframe{:allowTransparency => "true", :frameborder => "0", :height => "679", :scrolling => "no", :src => "http://virtusweb.wufoo.com/embed/q7x3a1/", :style => "width:100%;border:none"}
    %a{:href => "http://virtusweb.wufoo.com/forms/q7x3a1/"} Fill out my Wufoo form!
