#tit
  Clases de Francés

#subtit
  Clases de Francés para jóvenes y adultos.

#foto
  %img{:src => "/attachments/francia1.png", :alt => "Clases de Francés"}

#subtit
  El idioma Francés 
#parrafo
  El Francés moderno pertenece al grupo de las llamadas lenguas "romance." Descendientes del latín, podría decirse que estas lenguas representan las sombras vivientes del antiguo imperio romano, reflejando las historias divergentes de regiones unificadas anteriormente bajo el gobierno romano. 
#subtit
  Ventajas de estudiar Francés
#subtit
  Millones de personas hablan francés
#parrafo
  El francés es el idioma oficial (o uno de los idiomas oficiales) de 33 países del mundo; además, junto con el inglés es el único idioma que se habla en los cinco continentes, ya sea como lengua materna o como segundo o tercer idioma. Saber francés implica entonces tener la posibilidad de comunicarse con los más de 200 millones de francófonos y los más de 72 millones de estudiantes existentes a nivel mundial según la Organización Internacional de Francofonía.

#subtit
  En los cinco continentes
#parrafo
  El francés es la segunda lengua extranjera enseñada a nivel mundial después del inglés. Se habla en 37 países y se estima que 120 millones de personas son francófonas. Se habla en los cinco continentes:
#parrafo
  %ul
    %li Europa, en Suiza y en Bélgica
    %li En África en más de 20 países
    %li En América del Norte, en Québec y en Luisiana
    %li En las Antillas: Guadalupe y Martinica
    %li En Guyana francesa (América del Sur) y en algunas islas del Océano Índico y del océano Pacífico sur.

#subtit
  Presencia de empresas Francesas en México.
  Hay cerca de 350 empresas francesas establecidas en México 
#parrafo
  En México hay cerca de 350 empresas francesas (filiales, sucursales y oficinas de representación). Más allá de este perímetro de alcance, la presencia francesa incluye numerosos establecimientos de carácter no productivo (comercial, logístico), empresas con franquicias, empresas que fabrican con licencias francesas (como Yoplait), alianzas estratégicas (como Renault con Nissan), agentes de representación de empresas francesas, empresas locales creadas por ciudadanos franceses.

  La mayoría de los grandes grupos industriales franceses están presentes y producen en México (Sanofi-Aventis, Saint-Gobain, Lafarge, Veolia Environnement, Danone, Areva, Alcatel, Thales, Faurecia, Gaz de France, Schneider Electric, Pernod-Ricard, Valeo,…). 

#parrafo
  Para información sobre costos y horarios de nuestros cursos de Francés, solicítelo directamente en nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761.<a href="forma">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario'> Consulta nuestras fechas de Inicio de Cursos.
































































