#tit
  Quienes somos

#parrafo
  Somos una empresa dinámica y emprendedora de profesionales en  el área de Idiomas con más de 10 años de experiencia generando relaciones con una visión a largo plazo. Ofrecemos  capacitación  para ejecutivos en su lugar de trabajo y  clases en nuestras instalaciones con modelos de negocios innovadores que nos han dado  un diferenciador en un mercado altamente competitivo.

  Hemos trabajado en grandes corporativos como  Toyota México, Pegeuot  Ciudad de México y Toluca, Evenflo, Roche Querétaro, Toluca y Ciudad de México, Master Card entre otros.

#foto
  %img{:src => "/attachments/quienes.png", :alt => "Historia"}

#parrafo
  La empresa inicialmente se formó  en  1998 para impartir clases solo en sitio, debido al crecimiento de la misma  en el año 2001 se abrieron instalaciones para recibir a los ejecutivos, continuando con las clases en empresa y con clases en escuela.

#parrafo
  Para información sobre costos y horarios de nuestros diferentes cursos, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="forma">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario'>Consulta nuestras fechas de Inicio de Cursos.
