---
title: MRI Clases Inglés
layout: layout
---
.tit
  Clases de Inglés



.row
  .span5
    .subtit
      Clases de Inglés para jóvenes y adultos.
  .span5
    %img{:src => "/images/unidos.png", :alt => "Clases de Inglés"}

.parrafo
  El programa de Inglés para jóvenes y adultos está diseñado para que el alumno aprenda y practique de manera real temas frescos y que lo motiven  para comunicarse en un entorno  de la vida cotidiana.

.subtit
  Frecuencia de las clases de Inglés:

.parrafo
  Cursos Intensivos diarios de clases de Inglés.<br/>
  Los módulos tienen una duración de 30 horas las cuales se imparten de Lunes a Viernes dos horas diarias con horarios desde las 7: 00 am hasta las 7:00 pm.<br/>

.parrafo
  Examen de colocación:<br/> Se aplica para los alumnos que ya han estudiado Inglés antes o que requieren de alguna preparación para certificación oficial.<br/>
  Costo de los módulos: $1300.00

.parrafo
  Para información sobre costos y horarios de nuestros cursos de Inglés, solicítelo directamente en nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="contacto.html">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario.html#ingles'>Consulta nuestras fechas de Inicio de Cursos.

