---
title: MRI Clases Italiano
layout: layout
---

.tit
  Italiano
.row
  .span5
    .subtit
      Clases de Italiano para jóvenes y adultos.
  .span5
    %img{:src => "/images/italia.png", :alt => "Italiano"}

.parrafo
  Para información sobre costos y horarios de nuestros cursos de Italiano, solicítelo directamente en nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="contacto.html">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario.html'>Consulta nuestras fechas de Inicio de Cursos.
