#tit
  Método
#parrafo
  Nuestras clases son presenciales y el programa está basado en la práctica del idioma con un enfoque comunicativo y en él se desarrollan las habilidades del idioma de manera simultánea ya que el aprendizaje como la gramática, pronunciación o vocabulario  se imparten de una manera dinámica, amena e intuitiva.

#foto
  %img{:src => "/attachments/metodo.png", :alt => "Método"}

#parrafo
  Los cursos están diseñados para mejorar las habilidades lingüísticas en el marco de un entorno de la vida diaria. Esto se consigue de una manera eficiente  que permite al alumno comunicarse de manera correcta y fluida  en diferentes situaciones cotidianas.

#subtit
  Niveles

#parrafo
  En un año el alumno cubre la parte básica e intermedia de nuestro programa siendo bilingue.
#parrafo
  Para información sobre costos y horarios de nuestros diferentes cursos, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="forma">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario'>Consulta nuestras fechas de Inicio de Cursos.

