---
title: MRI Clases Niños
layout: layout
---
.tit
  Cursos para niños<br/>
  %img{:src => "/images/ninios1.png", :alt => "Cursos uno a uno"}

.parrafo
  Los niños tienen mucha facilidad para aprender idiomas.  Todos nuestros cursos presentan una forma rápida, fácil y divertida para que los niños aprendan los conceptos básicos del inglés y de otros idiomas más.<br/> 
  <br/>
  Los niños son más receptivos con los idiomas que los adultos por lo cual es muy importante aprovechar esta capacidad de aprendizaje que tienen los ellos para enseñarles algún idioma desde muy temprana edad. <br/>
  <br/>
  Realizamos diferentes tipos de actividades y juegos en inglés y otros idiomas de una manera divertida y efectiva para enseñar un idioma.<br/>
  <br/>
  Los colores, los pronombres, los verbos, los números y los días de la semana, meses del año y estaciones son fundamentales para iniciarse en algún idioma.<br/>
  <br/>
  Además de vocabulario, con nuestros cursos de inglés los niños aprenderán a utilizar las palabras básicas en el contexto adecuado, y construir frases con sentido y útiles.<br/>
  <br/>
  Conocer el vocabulario en inglés relativo a la casa, la familia y los animales también es básico para iniciarse en el con cualquier  idioma. Por este motivo, nuestros cursos de idiomas para niños tratan todos estos temas. <br/>
  <br/>
  No pierda más tiempo buscando cursos de inglés u otro idioma  para niños, nosotros contamos con la experiencia  en la enseñanza de idiomas para niños.<br/>
  <br/>
.parrafo
  Para información sobre costos y horarios de nuestros diferentes cursos, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="contacto.html">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario.html'>Consulta nuestras fechas de Inicio de Cursos.
