#tit
  Oferta Educativa

#parrafo
  En Mundo Real Idiomas impartimos clases  desde el año 2001 ,en nuestras aulas, domicilios particulares y en empresas se imparten cursos de los idiomas más demandados hoy en día:

#parrafo
  <br/>
  %a{:href =>  "inglés"} Inglés,
  %a{:href =>  "frances"} Francés,
  %a{:href =>  "aleman"} Alemán,
  %a{:href =>  "italiano"} Italiano,
  %a{:href =>  "chino"} Chino,
  %a{:href =>  "español"} Español.

#parrafo
  Contamos con una variada oferta de cursos con horarios flexibles y un excelente equipo de profesores certificados de idiomas que nos permite garantizar una solución adecuado en idiomas para niños, jóvenes, adultos y ejecutivos en su lugar de trabajo.

#parrafo
  Para información sobre costos y horarios de nuestros diferentes cursos, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="forma">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario'>Consulta nuestras fechas de Inicio de Cursos.

