---
title: MRI Precios 2014
layout: layout
---
.tit
  Precios 2014

.parrafo
  <br/>
  Curso de inglés dos horas diarias $1400.00 (Módulo de 30 horas)<br/>
  <br/>
  Curso de Inglés más otros dos idiomas por $2,200 (Módulo de 30 horas)<br/>
  <br/>
  Curso de Alemán más otros dos idiomas por $2,500 (Módulo de 30 horas)<br/>
  <br/>
  Curso de inglés en fin de semana $1300 (mensual)<br/>
  <br/>
  Curso de Francés:  tres horas por semana $1400.00 (Módulos de 12 horas)<br/>
  <br/>
  Curso de Alemán:  tres horas por semana $1700.00 (Módulos de 12 horas)<br/>
  <br/>
  Curso de Italiano:  tres horas por semana $1400.00 (Módulos de 12 horas)

.parrafo
  Para mayor información sobre costos y horarios de nuestros diferentes cursos, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="contacto.html">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario.html'>Consulta nuestras fechas de Inicio de Cursos.


