---
title: MRI Principiantes
layout: layout
---
.row
  .span5
    .tit
      Promoción especial <br/>
      <br/>
      Estudia dos idiomas<br/>
      <br/>
      y paga solo UNO
  .span5
    %img{:src => "/images/estudiantes.png", :alt => "estudiantes"}

.parrafo
  ¿Quieres aprender inglés? <br/>
  <br/>
  Estudia Inglés y Francés y paga solo uno, éstos cursos tienen un costo de $1400 e
  incluyen dos horas de inglés diarias y 3 horas de Francés durante todo el tiempo que
  estudies Inglés con nosotros.<br/>
  <br/>

  Los sábados el horario de inglés es de 8:00 a 13:00 hr. y el pago se realiza mensualmente, el costo
  de los cursos sabatinos es de $1300.00 e incluye también francés , el cual se imparte
  entre semana.<br/>
  <br/>

  No hay cuota de inscripción solo tienes que pagar tu colegiatura y seleccionar el
  horario que se adecue a tus necesidades, si te interesan otros idiomas te invitamos a
  contactarnos para armar el paquete que te interese.<br/>
  <br/>

  Para información sobre horarios de nuestros diferentes cursos, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761.<br/> <a href="contacto.html">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario.html'>Consulta nuestras fechas de Inicio de Cursos.

   

