#tit
  Promoción especial para principiantes de Inglés

#foto
  %img{:src => "/attachments/estudiantes.png", :alt => "estudiantes"}

#parrafo
  ¿Quieres aprender inglés? Si quieres iniciarte en este idioma, ¡este es tu curso! Te presentamos los conceptos básicos del inglés, que te permitirán empezar a entender y a hablar esta lengua. <br/>
  <br/>  
  Estudia en Mundo Real Idiomas y aprovecha esta promoción especial, costo regular del curso $1300.00, costo promoción  alumnos de nivel básico $850.00 por cada uno de  los primeros 3 niveles.<br/>
  <br/>
  Una vez concluidos los 3 primeros niveles empieza el nivel 4 con un costo de $1300.00 y a partir de este nivel puedes tomar clases de Francés GRATIS durante todo el tiempo que estés inscrito en nuestros cursos.<br/>
  <br/>

  Para información sobre horarios de nuestros diferentes cursos, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="forma">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario'>Consulta nuestras fechas de Inicio de Cursos.

   

