---
title: MRI Aviso de Privacidad
layout: layout
---

.tit
  Aviso de Privacidad

.subtit
  Mundo Real Idiomas

.parrafo
  Mundo Real  Idiomas con domicilio en Boticelli # 75 Tercer piso esq. Av. Patriotismo Col. Nonoalco Mixcoac, México, Distrito Federal, C.P. 03901 es responsable de recabar sus datos personales, del uso que se le de a los mismos así como de su protección.<br/>
  Recabamos sus datos personales de forma directa cuando usted mismo nos los proporciona al momento de registrar su inscripción.<br/>
  Sus datos personales serán utilizados para las siguientes finalidades:<br/>
  Proveer a usted los correspondientes servicios y productos que ha solicitado de Mundo Real Idiomas, ya sea para la enseñanza de idiomas, cursos y exámenes, así como para dar cumplimiento con los acuerdos y/o contratos celebrados entre usted y Mundo Real Idioma.<br/>
  Mundo Real Idiomas puede utilizar sus Datos Personales y/o Datos Personales Sensibles para informarle y hacer de su conocimiento nuevos productos y servicios, promociones, descuentos o cualquier información que pudiera ser de su interés para el aprendizaje de idiomas.<br/>
  Expedir a usted los comprobantes fiscales correspondientes por el pago de los servicios y productos adquiridos de Mundo Real Idiomas.<br/>
  Intercambio de información con Secretaria de Hacienda y Crédito Público para el cumplimiento de normatividad fiscal.<br/>
  Para las finalidades señaladas en el presente aviso de privacidad, podemos recabar sus datos personales como:<br/>
  Nombre.Apellido Paterno.Apellido Materno.Teléfono.E-mail.<br/>
  Le informamos que para cumplir con las finalidades previstas en este aviso de privacidad, NO serán recabados y tratados datos personales sensibles, como aquéllos que refieren a información financiera básica.<br/>
  Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya otorgado, a través de los procedimientos que hemos implementado. Para conocer dichos procedimientos, los requisitos y plazos, se puede poner en contacto con nuestro departamento de datos personales en Boticelli # 75 Tercer piso esq. Av. Patriotismo Col. Nonoalco Mixcoac, México, Distrito Federal, C.P. 03901, al teléfono 5611-2761 o al correo electrónico coordinacion@mundorealidiomas.com.mx, o visitar nuestra página de Internet www.mundorealidiomas.com.mx.<br/>
  Si usted desea dejar de recibir mensajes promocionales de nuestra parte, puede solicitarlo a través del teléfono 5611-2761 o al correo electrónico coordinacion@mundorealidiomas.com.mx, o en el siguiente domicilio Boticelli # 75 Tercer piso esq. Av. Patriotismo Col. Nonoalco Mixcoac, México, Distrito Federal, C.P. 03901.<br/>
  Cualquier modificación a este aviso de privacidad podrá consultarla en www.mundorealidiomas.com.mx.<br/>
  Fecha última actualización Enero 15, 2013.<br/>
