---
title: MRI Promociones 2013
layout: layout
---
.tit
  Promociones 2013<br/>
  <a href="/pages/promociones14.html">APROVECHA NUESTRA PROMOCION NAVIDEÑA</a><br/>

.subtit
  Mundo Real Idiomas te ofrece las siguientes promociones :
  %ul
    %li Estudia 3 idiomas por $2,200<br>
    %li Estudia Inglés y Francés por $1,400<br>
    %li Estudia Inglés y otro idioma por $1,900<br>
    %li Inglés en tu oficina u Hogar $300.00 por hora<br>
    %li Curso de Inglés Uno a Uno (30 Horas) por $4,900 en nuestras instalaciones<br>

.subtit
  Promoción Especial jóvenes y adultos:

.parrafo
  El alumno puede integrarse sin ningún costo extra a las clases de francés en los horarios abiertos durante todo el tiempo que esté inscrito en nuestros cursos de Inglés.

.subtit
  Promoción Especial Niños:
.parrafo
  Los niños pueden estudiar sin ningún costo extra Francés los viernes de 4:30 a 7:00 pm durante todo el tiempo que esté inscrito en nuestros cursos de Inglés.

.parrafo
  Para información sobre costos y horarios de nuestros diferentes cursos, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="contacto.html">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario.html'>Consulta nuestras fechas de Inicio de Cursos.<br/>

