---
title: MRI Sab y Dom
layout: layout
---

.titsab
  ¡Estudia con nosotros en nuestros nuevos horarios!<br/>


.row
  .span5
    %img{:src => "/images/sab1.png", :alt => "Cursos sabatínos y dominicales"}
  .span5
    .parsab
      Si tienes problemas de<br/>
      <br/>
      horarios para<br/>
      <br/>
      estudiar inglés,<br/>
      <br/>
      te invitamos a participar<br/>
      <br/>
      en nuentros cursos <br/>
      <br/>
      de fin de semana<br/>
.row
  .span6
    .parsab1
      Sábados de 3pm a 7pm<br/>
      <br/>
      $1,000 mensuales<br/>
      <br/>
      Domingos de 10am a 2pm<br/>
      <br/>
      $1,200 mensuales<br/>
  .span4
    .fotosab
      %img{:src => "/images/sab2.png", :alt => "Cursos sabatínos y dominicales"}


.parrafo
  Para información sobre costos y horarios de nuestros diferentes cursos, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="contacto.html">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario.html'>Consulta nuestras fechas de Inicio de Cursos.<br/>

