#titsab
  ¡Estudia con nosotros en nuestros nuevos horarios!<br/>

#fotosab
  %img{:src => "/attachments/sab1.png", :alt => "Cursos sabatínos y dominicales"}

#parsab
  Si tienes problemas de<br/>
  horarios para estudiar inglés,<br/>
  te invitamos a participar<br/>
  en nuentros cursos <br/>
  de fin de semana<br/>

#parsab1
  Sábados de 3pm a 7pm<br/>
  $1,000 mensuales<br/>
  Domingos de 10am a 2pm<br/>
  $1,200 mensuales<br/>

#fotosab
  %img{:src => "/attachments/sab2.png", :alt => "Cursos sabatínos y dominicales"}


#parrafo
  Para información sobre costos y horarios de nuestros diferentes cursos, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="forma">Clic aquí para llenar FORMA DE CONTACTO</a>.<br/>
  <a href='calendario'>Consulta nuestras fechas de Inicio de Cursos.<br/>

