---
title: MRI Success
layout: layout
---

.tit
  Agradecemos su interés en formar parte del equipo de trabajo de Mundo Real Idiomas.

.parrafo
  En breve nos pondremos en contacto con usted para concertar una cita.<br/> 
  Es importante que además envíe su Curriculum Vitae a<br/>  
  e-mail : <a href='mailto:info@mundorealidiomas.com.mx'>info@mundorealidiomas.com.mx</a><br/>

  GRACIAS<br/> 

  %img{:src => "/images/metodo.png", :alt => "Mundo Real idiomas"}


