#tit
  Agradecemos su interés en Mundo Real Idiomas

#subtit
  En breve un ejecutivo se pondrá en contacto con usted y esperamos poder darle próximamente la bienvenida en alguno de nuestros cursos.
  GRACIAS

%img{:src => "/attachments/success.jpg", :alt => "Mundo Real idiomas"}
