#tit
  TOEFL
#foto
  %img{:src => "/attachments/toefl.png", :alt => "TOEFL"}
#parrafo
  Solicite información en: 
  e-mail : <a href='mailto:info@mundorealidiomas.com.mx'>info@mundorealidiomas.com.mx</a>

#parrafo
  Para información sobre costos y horarios de nuestro curso de 	TOEFL, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="forma">Clic aquí para llenar FORMA DE CONTACTO</a>.
