---
title: MRI TOEFL
layout: layout
---
.row
  .span4.offset1
    .tit
      TOEFL
    .foto
      %img{:src => "/images/toefl.png", :alt => "TOEFL"}
  .span4
    .parrafo
      Solicite información en: 
      e-mail : <a href='mailto:info@mundorealidiomas.com.mx'>info@mundorealidiomas.com.mx</a>

    .parrafo
      Para información sobre costos y horarios de nuestro curso de 	TOEFL, solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761.<br/> <a href="contacto.html">Clic aquí para llenar FORMA DE CONTACTO</a>.
