#tit
  Traducciones

#foto
  %img{:src => "/attachments/traducciones.png", :alt => "Traducciones"}

#parrafo
  Mundo Real Idiomas, proporciona servicios de traducción y corrección de documentos a empresas y particulares de todo el mundo, realizando traducciones de todo tipo de textos: desde libros, manuales y artículos hasta traducciones técnicas, textos legales etc.<br/>
  <br/>
  Contamos con traductores y revisores profesionales. Nuestros traductores traducen a su idioma materno (español, inglés , francés, italiano, alemán, portugués, etc), son licenciados en traducción, o en otra carrera superior y tienen experiencia documentada en traducción, y sólo traducen a las disciplinas en las que son expertos.<br/>
  <br/>
  Nuestro objetivo es proporcionar un alto nivel de exactitud y precisión con precios muy competitivos, garantizamos a nuestro cliente una excelente calidad de traducción combinada con el uso de tecnología para traducción.<br/>
  <br/>
  Nuestros clientes pueden tener la seguridad de que respetamos y protegemos la privacidad de su información desde el comienzo del proceso hasta el final del mismo.<br/>
  <br/>
  Cualquiera que sea su necesidad, proyecto o servicio, también puede tener la seguridad de que está en las mejores manos.<br/>
  <br/>
  
  Solicite presupuesto gratuito y sin compromiso  de nuestros servicio de traducciones al teléfono 5611-2761 ó solicítelo por medio de nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted. <a href="forma">Clic aquí para llenar FORMA DE CONTACTO</a>.
