#tit
  Cursos Uno a Uno

#subtit
  Clases de idiomas personalizado para jóvenes y adultos.

#foto
  %img{:src => "/attachments/unoauno.png", :alt => "Cursos uno a uno"}

#parrafo
  Para información sobre costos y horarios de nuestros cursos Uno a Uno, solicítelo directamente en nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="forma">Clic aquí para llenar FORMA DE CONTACTO</a>.
