---
title: MRI Cursos uno a uno
layout: layout
---

.tit
  Cursos Uno a Uno
.row
  .span4.offset1
    .foto
      %img{:src => "/images/unoauno.png", :alt => "Cursos uno a uno"}      
  .span5
    .tit 
      Clases de idiomas personalizado para jóvenes y adultos.


.parrafo
  Para información sobre costos y horarios de nuestros cursos Uno a Uno, solicítelo directamente en nuestra forma de contacto y a la brevedad uno de nuestros ejecutivos se pondrá en contacto con usted o llámenos al teléfono 5611-2761. <a href="contacto.html">Clic aquí para llenar FORMA DE CONTACTO</a>.
